# Built output
.gradle/
app/build/

# Heap dumps
*.hprof

# Local configuration
local.properties

# Android Studio
*.iml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
captures/
.externalNativeBuild/
.cxx/
